@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, dt, dd {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 500;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
.ir-hidden {position: absolute; left: -9999px;}

/* common */
body {font-family: 'NotoKr', 'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', 'Gulim', '굴림', sans-serif; font-size: 16px; font-weight: 300; line-height: 24px; color: #555; letter-spacing: -0.025em; background-color: #fff; box-sizing: border-box; overflow-x: hidden;}
#wrapper {}
#skip-nav {position: fixed; top: -34px; left: 0; width: 100%; height: 34px;  box-sizing: border-box; padding: 5px; text-align: center; color: #fff; font-weight: 500; text-decoration: underline; background-color: #000; z-index: 100000;}
#skip-nav:focus {top: 0;}
button {margin: 0; padding: 0; border: 1px solid; color: inherit; font-family: inherit; vertical-align: middle; overflow: visible; border-color: transparent; background-color: transparent; border-width: 0; font-weight: 300; box-sizing: border-box;}
div.align-box {position: relative; max-width: 1400px; margin: 0 auto;}

/* header */
div.top-bar {position: relative; width: 100%; border-bottom: 1px solid #e5e7ee; background-color: #fff;}

div.align-box > ul.site-link {display: inline-block;}
ul.site-link > li {display: inline-block; text-align: center;}
ul.site-link > li > a {display: block; font-size: 15px; color: #7d7d7d; line-height: 45px;}
ul.site-link > li + li {position: relative; margin-left: 12px; padding-left: 12px;}
ul.site-link > li + li::before {position: absolute; content: ""; top: 0; left: 0; bottom: 0; width: 1px; height: 15px; margin: auto 0; background-color: #e5e7ee;}

div.align-box > ul.side-menu {position: absolute; top: 0; right: 0; height: 45px;}
ul.side-menu > li {float: left; font-size: 13px; line-height: 45px; color: #7d7d7d;}
ul.side-menu > li > a {position: relative; display: block; padding: 0 12px 0 34px;}
ul.side-menu > li > a > span {display: block; text-indent: -9999px;}

ul.side-menu > li > a::before {}
ul.side-menu > li:first-of-type > a {}

ul.side-menu > li:first-of-type > a::before {position: absolute; content: ''; display: block; top: 15px; left: 12px; width: 17px; height: 15px; background: url(../img/user-sprite.png) left 100% no-repeat; background-size: 17px auto;}
ul.side-menu > li:nth-of-type(2) > a::before {position: absolute; content: ''; display: block; top: 15px; left: 12px; width: 17px; height: 15px; background: url(../img/sitemap-icon.png) left 100% no-repeat; background-size: 17px auto;}

ul.side-menu > li:nth-of-type(3) > a::before {position: absolute; content: ''; display: block; top: 15px; left: 12px; width: 17px; height: 15px; background: url(../img/language-sprite.png) left top 0% no-repeat; background-size: 15px auto;}

ul.side-menu > li:nth-of-type(4) {margin: -1px 12px 0 0;}
ul.side-menu > li:nth-of-type(4) > span {padding: 0 1px 0 10px; font-size: 13px; line-height: 45px; color: #555;}
ul.side-menu > li:nth-of-type(4) > a {display: inline-block; padding: 0; margin-left: 3px; width: 34px; height: 34px; box-sizing: border-box; background: transparent url(../img/fz-icon.png) 0 0 no-repeat; border: 1px solid; vertical-align: middle; font-size: 3px; color: transparent;}
ul.side-menu > li:nth-of-type(4) > a:nth-of-type(2) {background-position: -39px 0;}
ul.side-menu > li:nth-of-type(4) > a:last-of-type {background-position: -78px 0;}

ul.side-menu > li:last-of-type > a {position: relative; padding: 0 25px 0 40px; background-color: #00a3aa;}
ul.side-menu > li:last-of-type > a::before {position: absolute; display: block; left: 40px; top: 0; content: ''; width: 53px; height: 15px; margin-top: 15px; background: url(../img/welfare-sprite.png) left top no-repeat;}
ul.side-menu > li:last-of-type > a::after {position: absolute; display: block; content: ''; top: 16px; left: 18px; width: 16px; height: 14px; background: url(../img/welfare-sprite.png) left 52.08% no-repeat; }

ul.side-menu > li > ul {text-align: center; background-color: #fff; display: none;}

div.middle-bar {height: 160px; border-bottom: 1px solid #e5e7ee;}
div.middle-bar h1 {position: absolute; top: 40px; left: 0; background-color: #fff;}
div.middle-bar h1 > a {display: block;}
div.middle-bar h1 > a > img {height: 72px;}

div.middle-bar div.search {position: absolute; left: 0; top: 0; right: 0; width: 100%; max-width: 541px; margin: 0 auto;}
div.search > label {text-indent: -9999px;}
div.search > #search {width: 100%; height: 60px; margin-top: 35px; padding: 15px 125px 15px 30px; box-sizing: border-box; vertical-align: middle; border: 2px solid #437dea; border-radius: 13px; color: #000;}
div.search > #search::placeholder {position: relative; top: 3px; font-family: 'NotoKr'; font-size: 20px; font-weight: 300; line-height: 26px;}
div.search > button.search-keyboard {position: absolute; display: block; top: 50px; right: 90px; width: 26px; height: 26px; background: url(../img/search-keyboard.png) center center no-repeat;}
div.search > a {position: absolute; display: block; top: 35px; right: 0; width: 70px; height: 58px; background: #437dea url(../img/search-submit.png) center center no-repeat; border-top-right-radius: 13px; border-bottom-right-radius: 13px; text-indent: -9999px;}
div.search > ul.search-word {height: 22px; margin-top: 12px; padding: 0 40px 0 15px; line-height: 22px;}
ul.search-word > li {display: inline-block;}
ul.search-word > li:first-of-type {position: relative; padding: 0 20px; font-size: 16px; color: #2a2f5e; line-height: 22px;}
ul.search-word > li:first-of-type::before {position: absolute; display: block; content: ''; top: 4px; left: 0; width: 16px; height: 16px; background: url(../img/word-icon.png) center center no-repeat;}
ul.search-word > li > em {}
ul.search-word > li > a {display: block; font-size: 15px; color: #80848f; line-height: 22px;}
ul.search-word > li + li + li {position: relative; margin-left: 11px; padding-left: 12px;}
ul.search-word > li + li + li::before {position: absolute; display: block; content: ""; top: 6px; left: 0; width: 1px; height: 10px; background-color: #bcc2d1;}

div.middle-bar div.weather {position: absolute; top: 42px; right: 0; height: 76px;}
div.weather > div {display: inline-block;}
div.weather > div.weather-left > span:first-of-type {position: absolute; display: block; left: 0; top: 0; width: 76px; height: 76px; border-radius: 50%; background: #f4f5f9 url(../img/weather-sprite.png) left top no-repeat; background-size: 76px auto; color: transparent;}
div.weather > div.weather-left > span:last-of-type {position: relative; top: -15px; padding-left: 88px; font-size: 24px; line-height: 30px; vertical-align: top; color: #1a1a1a;}
div.weather > div.weather-right {position: relative; right: 0; top: 12px; margin-left: 16px; padding-left: 17px;}
div.weather > div.weather-right::before {position: absolute; display: block; content: ''; left: 0; top: 0; bottom: 0; width: 1px; background: url(../img/weather-dot.png) repeat-y;}
div.weather > div.weather-right > span:first-of-type, 
div.weather > div.weather-right > span:last-of-type {display: block; font-size: 14px; line-height: 24px; color: #7d7d7d;}
div.weather > div.weather-right > span > em {color: #437dea;}

#gnb {position: relative; width: 100%; height: 60px; border-bottom: 1px solid #e5e7ee; z-index: 20;}
/* #gnb::before {position: absolute; display: block; content: ''; left: 0; top: 61px; width: 100%; height: 800px; background-color: #fff;} */
#gnb > div.align-box {height: 100%;}
#gnb ul.gnb-list {margin-right: 310px; text-align: center;}
#gnb ul.gnb-list > li {display: inline-block; width: 16.42%; padding-top: 12px;}
#gnb ul.gnb-list > li > a {position: relative; display: inline-block; padding: 8px 0; height: 60px; box-sizing: border-box; font-size: 20px; font-weight: 500; line-height: 20px;}
#gnb ul.gnb-list > li > a:hover::after {position: absolute; display: block; content: ''; top: -5px; right: -12px; width: 12px; height: 14px; background: url(../img/menu-sprite2.png) left top no-repeat;}
#gnb ul.gnb-list > li > div.dep2 {position: absolute; left: 50%; top: 61px; transform: translate(-50%); width: 100vw; background-color: #fff; display: none;}
#gnb ul.gnb-list > li:first-of-type > div.dep2 {height: 574px;}
#gnb ul.gnb-list > li:nth-of-type(2) > div.dep2 {height: 422px;}
#gnb ul.gnb-list > li:nth-of-type(3) > div.dep2 {height: 622px;}
#gnb ul.gnb-list > li:nth-of-type(4) > div.dep2 {height: 362px;}
#gnb ul.gnb-list > li:nth-of-type(5) > div.dep2 {height: 530px;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 {height: 350px;}
#gnb ul.gnb-list > li.on > div.dep2 {display: block;}
#gnb ul.gnb-list > li.on > div.dep2 > div.align-box {min-height: 350px;}
#gnb div.dep2 > div.align-box > ul {padding-bottom: 30px; overflow: hidden;}
#gnb div.dep2 > div.align-box > ul > li {position: relative; float: left; width: 20%; min-height: 280px; padding: 20px 10px 0 10px; box-sizing: border-box;}
#gnb div.dep2 > div.align-box > ul > li > a {position: relative; display: block; padding: 8px 50px 8px 20px; border: 1px solid #c5c9d6; border-radius: 4px; font-size: 16px; line-height: 22px; color: #444; text-align: left;}
#gnb div.dep2 > div.align-box > ul > li.dep3 > a::after {position: absolute; display: block; content: ''; right: 15px; top: 0; bottom: 0; margin: auto 0; width: 9px; height: 5px; background: url(../img/menu-sprite.png) left 31.57% no-repeat;}
#gnb div.dep2 > div.align-box > ul > li.new > a::after {position: absolute; display: block; content: ''; right: 15px; top: 0; bottom: 0; margin: auto 0; width: 12px; height: 12px; background: url(../img/menu-sprite.png) left 100% no-repeat;}
#gnb div.dep2 > div.align-box > ul > li > ul {margin-top: 8px; padding: 0 20px; overflow: hidden;}
#gnb div.dep2 > div.align-box > ul > li > ul > li {float: left; width: 100%;}
#gnb div.dep2 > div.align-box > ul > li > ul > li > a {position: relative; display: block; padding-left: 12px; font-size: 15px; color: #7d7d7d; line-height: 28px; letter-spacing: -0.03em; text-align: left;}
#gnb div.dep2 > div.align-box > ul > li > ul > li > a::before {position: absolute; display: block; content: ''; left: 0; top: 12px; width: 4px; height: 4px; border-radius: 100%; background-color: #c5c9d6;}

#gnb div.dep2 > div.align-box > ul > li.wide {width: 40%;}
#gnb div.dep2 > div.align-box > ul > li.wide > ul > li {width: 50%;}

#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box {padding: 10px 0 0 215px; min-height: 350px;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box::before {position: absolute; display: block; content: ''; left: 215px; top: 0; bottom: 0; width: 100vw; background-color: #f4f5f9;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > div.bg {position: absolute; left: 35px; top: 0; bottom: 0; width: 180px;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > div.bg > img {margin: 30px 0 0 -50px;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > div.bg > p {position: relative; top: -15px; font-size: 15px; line-height: 20px; color: #7d7d7d; text-align: center;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > ul {width: 100%; text-align: center; }
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > ul > li {display: inline-block; width: 14.28%; min-height: auto;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > ul > li > a {display: block; width: 105px; margin: 0 auto; padding: 0; text-align: center; border: none;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > ul > li > a > span:first-of-type {position: relative; display: block; width: 100%; height: 85px; margin-bottom: 12px; border: 1px solid #e5e7ee; border-radius: 20px; background-color: #fff;}
#gnb ul.gnb-list > li:last-of-type > div.dep2 > div.align-box > ul > li > a > span:first-of-type::after {position: absolute; display: block; content: ''; left: 0; top: 18px; right: 0; bottom: 0; width: 52px; height: 50px; margin: 0 auto; background: url(../img/gnb-infopart-sprite.png) left top no-repeat;}

#gnb div.dep2 > div.align-box > ul > li:nth-of-type(2) > a > span:first-of-type::after {background-position: left -50px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(3) > a > span:first-of-type::after {background-position: left -100px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(4) > a > span:first-of-type::after {background-position: left -150px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(5) > a > span:first-of-type::after {background-position: left -200px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(6) > a > span:first-of-type::after {background-position: left -250px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(7) > a > span:first-of-type::after {background-position: left -300px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(8) > a > span:first-of-type::after {background-position: left -350px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(9) > a > span:first-of-type::after {background-position: left -400px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(10) > a > span:first-of-type::after {background-position: left -450px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(11) > a > span:first-of-type::after {background-position: left -500px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(12) > a > span:first-of-type::after {background-position: left -550px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(13) > a > span:first-of-type::after {background-position: left -600px;}
#gnb div.dep2 > div.align-box > ul > li:nth-of-type(14) > a > span:first-of-type::after {background-position: left -650px;}

a.family-site {position: absolute; right: 0; top: 0; padding-right: 25px; font-size: 18px; font-family: 'DWImpactamin', sans-serif; color: #00a3a0; line-height: 60px;}
a.family-site::before {position: absolute; display: block; content: ''; right: 0; top: 0; bottom: 3px; width: 17px; height: 14px; background: url(../img/gnb-family-icon.png) center center no-repeat; margin: auto 0;}

#popup-01 {position: fixed; left: 0; top: 0; padding: 60px 20px; box-sizing: border-box; width: 100%; height: 100%; max-height: 100%; background-color: rgba(0, 0, 0, 0.7); overflow-x: hidden; overflow-y: auto; z-index: 20; display: none;}
#popup-01 > div.content {position: relative; padding: 75px 30px 85px; border-radius: 20px; background: #fff url(../img/gnb-family-bg.jpg) center top no-repeat;}
#popup-01 > div.content > div.popup-wrap {position: relative; width: 1200px; margin: 0 auto;}
#popup-01 header.header {}
#popup-01 header.header > div.title {width: 100%; text-align: center;}
#popup-01 header.header > div.title::before {content: ''; display: inline-block; width: 429px; height: 69px; background: url(../img/gnb-family-sprite.png) left top no-repeat;}
#popup-01 a.close {position: absolute; right: 0; bottom: 100%; width: 70px; height: 70px; margin-bottom: 30px; border-radius: 50%; background-color: #363c5a;}
#popup-01 a.close::before {position: absolute; display: block; content: ''; left: 0; right: 0; top: 0; bottom: 0; margin: auto auto; width: 15px; height: 14px; background: url(../img/gnb-family-sprite.png) left 100% no-repeat;}

#popup-01 section.body {position: relative; margin-top: 100px; box-sizing: border-box;}
#popup-01 section.body > div.wrapper > ul.family-site {border-top: 1px solid #e5e7ee;}
ul.family-site > li {position: relative; display: inline-block; width: 24%; box-sizing: border-box; text-align: center;}
ul.family-site > li::before {position: absolute; display: block; content: ''; left: 0; right: 0; top: -4px; width: 10px; height: 10px; margin: 0 auto; border-radius: 100%; background-color: #437dea;}
ul.family-site > li > h3 {padding: 30px 0 25px; font-size: 22px; font-weight: 600; line-height: 22px;}
ul.family-site > li > div.box {height: 450px; margin: 25px 0 35px; padding: 0 20px; overflow-y: auto; text-align: left;}
ul.family-site > li + li > div.box {border-left: 1px solid #e5e7ee;}
ul.family-site > li > div.box > ul.link {padding-top: 10px;}
ul.family-site > li > div.box > ul.link > li {position: relative; padding-left: 11px; box-sizing: border-box;}
ul.family-site > li > div.box > ul.link > li + li {margin-top: 10px;}
ul.family-site > li:last-of-type > div.box > ul.link {overflow: hidden;}
ul.family-site > li:last-of-type > div.box > ul.link > li {float: left; width: 50%;}
ul.family-site > li:last-of-type > div.box > ul.link > li:nth-of-type(2) {margin-top: 0;}
ul.family-site > li > div.box > ul.link > li::before {position: absolute; display: block; content: ''; left: 0; top: 9px; width: 4px; height: 4px; border-radius: 100%; background-color: #c5c9d6;}
ul.family-site > li > div.box > ul.link > li > a {display: block; font-size: 16px; line-height: 20px; color: #4a506b;}
ul.family-site > li > div.box > ul.link > li > a:after {content: ''; display: inline-block; width: 12px; height: 12px; margin-left: 8px; background: url(../img/menu-sprite.png) left 100% no-repeat;}

/* footer */
#footer {position: relative; padding-bottom: 70px; width: 100%; box-sizing: border-box; background-color: #fff;}
#footer > div.banner {border-top: 1px solid #d3d6e1;}
#footer > div.banner strong {position: absolute; left: 0; top: 21px; padding-left: 38px; font-size: 16px; font-weight: 300; line-height: 26px; color: #4a506b; background-color: #fff;}
#footer > div.banner strong::before {position: absolute; display: block; content: ''; left: 1px; top: 0; width: 24px; height: 23px; background: url(../img/banner-sprite.png) no-repeat;}
#footer div.banner-slide {padding: 0 110px 0 140px; height: 69px; overflow: hidden;}
#footer div.banner-slide > ul.banner-list {}
#footer div.banner-slide > ul.banner-list > li {position: relative; display: inline-block; margin-right: 25px; padding-right: 25px; height: 69px; font-size: 15px;}
#footer div.banner-slide > ul.banner-list > li:nth-of-type(6n) {margin-right: 0; padding-right: 0;}
#footer div.banner-slide > ul.banner-list > li::after {position: absolute; display: block; content: ''; right: 0; top: 0; bottom: 0; width: 3px; height: 3px; margin: auto 0; border-radius: 100%; background-color: #cbceda;}
#footer div.banner-slide > ul.banner-list > li > a {line-height: 69px;}

/* @media (min-width: 1000px) and (max-width: 1399.99px) { */
@media  (min-width: 1000px) and (max-width: 1399.99px) {
  div.banner-slide > ul.banner-list > li:nth-of-type(4n)::after {
    opacity: 0; clear: both;
  }
}
  
@media screen and (min-width: 1400px) {
  div.banner-slide > ul.banner-list > li:nth-of-type(6n)::after {
    opacity: 0; clear: both;
  }

  div.banner-slide > ul.banner-list > li:nth-of-type(6n) {
    margin-right: 0; padding-right: 0;
  }
}

#footer > div.banner > div.align-box > ul.indicator {position: absolute; right: 0; top: 50%; transform: translateY(-50%); height: 16px; box-sizing: border-box;}
#footer > div.banner > div.align-box > ul.indicator > li {display: inline-block; width: 16px; height: 100%;}
#footer > div.banner > div.align-box > ul.indicator > li > a {position: relative; display: block; height: 100%; text-indent: -9999px;}
#footer > div.banner > div.align-box > ul.indicator > li > a::before {position: absolute; display: block; content: ''; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 13px; height: 9px; background: url(../img/banner-sprite.png) left 29.05% no-repeat;}
#footer > div.banner > div.align-box > ul.indicator > li:nth-of-type(2) {margin: 0 3px;}
#footer > div.banner > div.align-box > ul.indicator > li:nth-of-type(2) > a::before {width: 8px; height: 12px; background-position: left 80.53%;}
#footer > div.banner > div.align-box > ul.indicator > li:nth-of-type(3) > a::before {background-position: left 45.29%;}
#footer > div.banner > div.align-box > ul.indicator > li:last-of-type {margin-left: 6px;}
#footer > div.banner > div.align-box > ul.indicator > li:last-of-type > a::before {width: 12px; height: 12px; background-position: left 100%;}


#footer > div.link {width: 100%; padding: 12px 0; background-color: #4a506b;}
#footer > div.link > div.align-box > ul {}
#footer > div.link > div.align-box > ul > li {position: relative; display: inline-block; padding: 0 15px;}
#footer > div.link > div.align-box > ul > li + li::before {position: absolute; display: block; content: ''; left: 0; top: 0; bottom: 0; width: 3px; height: 3px; margin: auto 0; border-radius: 100%; background-color: #60667e;}
#footer > div.link > div.align-box > ul > li > a {display: block; padding-top: 1px; font-size: 15px; line-height: 30px; color: #fff;}
#footer > div.link > div.align-box > ul > li:first-of-type {padding-left: 0;}
#footer > div.link > div.align-box > ul > li:first-of-type > a {color: #dca940;}

#footer > div.bottom {margin-top: 30px;}
#footer > div.bottom > div.align-box > span:first-of-type {padding-right: 70px;}

#footer > div.bottom > div.align-box > div.info {display: inline-block; margin: 8px 0 0 30px; font-size: 15px; line-height: 24px; color: #969696;}
#footer > div.bottom > div.align-box > div.info > address {display: inline-block;}
#footer > div.bottom > div.align-box > div.info > span {}
#footer > div.bottom > div.align-box > div.info > span:first-of-type {}
#footer > div.bottom > div.align-box > div.info > span:last-of-type {display: block;}
#footer > div.bottom > div.align-box > span:last-of-type {position: absolute; right: 0; top: -10px;}
#footer > div.bottom > div.align-box > span:last-of-type > a {display: block;}
#footer > div.bottom > div.align-box > span:last-of-type > a > img {width: 106px;}



/* aside */
aside {position: fixed; right: 30px; bottom: 30px; width: 68px; height: 68px; border-radius: 50%; background: #7a7d96 url(../img/top.png) center center no-repeat; z-index: 1; text-indent: -9999px;}

/* main */
#info {position: relative;}
#info::before {position: absolute; display: block; content: ''; top: 0; right: 0; bottom: -60px; width: 1265px; background: url(../img/info-bg.png) right center no-repeat; background-size: cover;}
#info div.left {position: absolute; left: 0; top: 0; width: 770px; padding-top: 50px;}
div.left > h2 {font-family: 'DWImpactamin'; font-size: 30px; font-weight: 400; line-height: 41px; color: #ec6c61;}
div.left > h2 > span {color: #111d68;}
div.left > ul.indicator.style01 {position: absolute; left: 135px; top: 50px; padding: 12px 0 0 17px; width: 82px; height: 45px; box-sizing: border-box; border-radius: 25px; font-size: 13px; font-weight: 300; line-height: 20px; color: #363c5a; background-color: #edf0f9;}
ul.indicator.style01 > li {display: inline-block;}
ul.indicator.style01 > li > a {position: relative; display: block; width: 20px; height: 20px; text-indent: -9999px;}
ul.indicator.style01 > li > a::before {position: absolute; right: 0; content: ''; display: inline-block; width: 20px; height: 20px; background: url(../img/info-sprite.png) left 56.96% no-repeat;}

div.left > div.info-slide {position: absolute; left: 0; top: 0; margin-top: 120px; width: 770px; height: 400px; overflow: hidden;}
div.info-slide > ul.info-list {width: 9999px; height: 100%; overflow: hidden;}
ul.info-list > li {float: left; width: 770px; height: 100%; border-radius: 40px; overflow: hidden;}
ul.info-list > li span {width: 100%; height: 100%; background-size: 100% 100%; display: block; text-indent: -9999px;}
ul.info-list > li > a {display: block; width: 100%; height: 100%;}

div.left > ul.indicator.style02 {position: absolute; top: 295px; width: 100%;}
ul.indicator.style02 > li {position: absolute; width: 24px; height: 24px;}
ul.indicator.style02 > li:first-of-type {left: -40px;}
ul.indicator.style02 > li:last-of-type {right: -40px;}
ul.indicator.style02 > li > a {display: block; width: 100%; height: 100%; background: url(../img/info-sprite.png) left 77.92% no-repeat; opacity: 0.5; text-indent: -9999px;}
ul.indicator.style02 > li:last-of-type > a {background-position: left 100%;}

#info div.right {position: relative; padding: 65px 0 0 860px;}
#info div.right::before {position: absolute; display: block; content: ''; top: 285px; right: calc(100% + 77px); width: 100%; height: 24px; border-bottom: 1px solid #e5e7ee; background: url(../img/rowgroup-text.png) right top no-repeat;}
div.right > div.mayor {position: relative; height: 330px; box-sizing: border-box; padding: 85px 0 0 52px; border: 1px solid #ffd5d1; border-radius: 35px; background-color: #ffecea; box-shadow: 19px 38px 30px 0 rgba(25 53 116 / 12%);}
div.right > div.mayor::before {position: absolute; display: block; content: ''; right: -41px; top: 88px; width: 439px; height: 439px; background: url(../img/info-mayor-bg2.png) no-repeat;}
div.right > div.mayor::after {position: absolute; display: block; content: ''; right: 36px; bottom: 0; width: 269px; height: 319px; background: url(../img/info-mayor-photo2.png) no-repeat;}
div.mayor > span {display: block; font-size: 26px; font-weight: 400; line-height: 38px; color: #363c5a;}
div.mayor > span > em {font-size: 36px; letter-spacing: -0.05em;}
div.mayor > ul.mayor-menu {margin-top: 38px; padding-left: 18px;}
div.mayor > ul.mayor-menu > li > a {position: relative; display: block; padding: 0 38px 0 30px; color: #43475e; font-size: 18px; font-weight: 300; line-height: 33px; letter-spacing: -0.03em;}
div.mayor > ul.mayor-menu > li > a::before {position: absolute; content: ''; left: 0; top: 0; bottom: 0; width: 16px; height: 2px; margin: auto 0; background-color: #939ab0;}
div.right > ul.info-menu {padding-top: 25px;}
ul.info-menu > li {display: inline-block; width: 24%; text-align: center;}
ul.info-menu > li > a {position: relative; display: block; padding-top: 120px; color: #555;}
ul.info-menu > li > a::before {position: absolute; display: block; content: ''; left: 0; top: 10px; right: 0; margin: 0 auto; width: 90px; height: 90px; border-radius: 30px; background-color: #fff; box-shadow: 0 0 15px rgb(13 36 78 / 15%); transition-property: box-shadow; transition-duration: 0.25s; transition-timing-function: ease-in-out;}
ul.info-menu > li > a:hover::before {box-shadow: 0 0 25px rgb(13 36 78 / 25%);}
ul.info-menu > li > a::after {position: absolute; display: block; content: ''; left: 0; top: 33px; right: 0; margin: 0 auto; width: 44px; height: 44px; background: url(../img/info-shortcut-sprite.png) left top no-repeat; transition-duration: 0.5s; transition-timing-function: ease-in-out;}
ul.info-menu > li > a:hover::after {transform: rotateY(360deg);}
ul.info-menu > li:nth-of-type(2) > a::after {background-position: left 33.33%;}
ul.info-menu > li:nth-of-type(3) > a::after {background-position: left 66.66%;}
ul.info-menu > li:nth-of-type(4) > a::after {background-position: left 100%;}

#news {margin-top: 39px; padding-bottom: 90px;}
#news > div.align-box {position: relative; max-width: 1400px; margin: 0 auto;}
#news div.news {position: relative; padding-right: 610px; height: 511px;}
#news div.news::before {position: absolute; display: block; content: ''; left: 215px; top: 20px; right: auto; width: 100vw; height: 1px; margin: auto 0; background-color: #e5e7ee;}
div.news > h2 {font-family: 'DWImpactamin'; font-size: 30px; font-weight: 400; line-height: 41px; color: #ec6c61;}
div.news > h2 > span {color: #111d68;}
div.news > ul.news-list {position: relative; margin-top: 10px;}
div.news > ul.news-list::before {position: absolute; display: block; content: ''; left: 0; right: 0; bottom: 0; height: 1px; background-color: #e5e7ee;}
ul.news-list > li {position: relative; display: inline-block;}
ul.news-list > li::before {position: absolute; display: block; content: ''; left: 50%; bottom: -2px; transform: translateX(-50%); width: 0; height: 4px; border-radius: 2px; background-color: #437de9; transition: width .25s ease-in-out;}
ul.news-list > li.on::before {width: 100%;}
ul.news-list > li > a {position: relative; display: block; height: 65px; padding: 0 20px; color: #7a7d96; font-size: 18px; font-weight: 300; line-height: 65px; transition-duration: 0.2s; transition-property: font-size; transition-timing-function: ease-in-out;}
ul.news-list > li.on > a {color: #111d68; font-size: 20px; font-weight: 400;}
ul.news-list > li > ul {position: absolute; left: 0; top: 90px; width: 770px; display: none;}
ul.news-list > li.on > ul {display: block;}
ul.news-list > li > ul > li {height: 60px;}
ul.news-list > li > ul > li + li {border-top: 1px solid #e5e7ee;}
ul.news-list > li > ul > li > a {position: relative; display: block; padding: 15px 105px 15px 27px; font-size: 18px; color: #1a1a1a;}
ul.news-list > li > ul > li > a::before {position: absolute; display: block; content: ''; left: 10px; top: 27px; width: 5px; height: 5px; border-radius: 50%; background-color: #437dea;}
ul.news-list > li > ul > li > a > span:last-of-type {position: absolute; top: 15px; right: 15px; font-size: 15px; font-weight: 300; line-height: 30px; color: #636363;}
div.news > a.more {position: absolute; display: block; top: 69px; right: 610px; width: 28px; height: 28px; border: 1px solid #e5e7ee; border-radius: 50%; background-color: #fff; text-indent: -9999px;}
div.news > a.more::before {position: absolute; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; margin: auto; width: 12px; height: 12px; background: url(../img/board-sprite.png) left 78.84% no-repeat;}

#news div.pr {position: absolute; top: 61px; right: 0; width: 540px;}
#news div.pr::before {position: absolute; display: block; content: ''; bottom: 20px; right: -20px; width: 100%; height: calc(100% - 22px); border-radius: 30px; border: 1px solid #e5e7ee; z-index: -1;}
div.pr > h2 {padding: 17px 0 12px 60px; font-family: 'DWImpactamin'; font-size: 30px; font-weight: 400; line-height: 41px; color: #ec6c61;}
div.pr > h2 > span {color: #111d68;}
div.pr > ul.indicator.style03 {position: absolute; right: 25px; top: 25px;}
ul.indicator.style03 > li {display: inline-block; font-size: 15px; line-height: 20px; color: #969696;}
ul.indicator.style03 > li:first-of-type {color: #000;}
ul.indicator.style03 > li:nth-of-type(2) {margin-right: 20px;}
ul.indicator.style03 > li > a {position: relative; display: block; margin-top: -2px; width: 17px; height: 20px; text-indent: -9999px;}
ul.indicator.style03 > li > a::before {position: absolute; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; margin: auto; background: url(../img/pr-sprite.png) left 33.33% no-repeat;}
ul.indicator.style03 > li:nth-of-type(4) > a::before {background-position: left 100%;}
ul.indicator.style03 > li:last-of-type > a::before {transform: rotate(180deg);}

div.pr > div.pr-slide {width: 540px; height: 370px; border-radius: 30px; overflow: hidden;}
div.pr-slide > ul.pr-list {width: 18900px; height: 100%; overflow: hidden;}
ul.pr-list > li {float: left; width: 540px; height: 100%; background-color: pink;}
ul.pr-list > li > a {display: block; width: 100%; height: 100%;}
ul.pr-list > li > a > span {display: block; width: 100%; height: 100%; background-size: 100% 100%; text-indent: -9999px;}



#favorites {background-color: #f4f9f9; padding: 40px 0;}
#favorites .align-box {overflow: hidden; width: 1300px; position: relative;}
#favorites .align-box h2 {color: #111d68; font-size: 25px; text-align: center; margin-bottom: 20px; font-weight: 700;}
#favorites .align-box ul.favorites-list {overflow: hidden; width: 3000px;}
#favorites .align-box ul.favorites-list li {float: left; margin: 0 20px;}
#favorites .align-box ul.favorites-list li a {width: 145px; height: 140px; display: block; text-align: center; position: relative; padding-top: 90px; box-sizing: border-box;}
#favorites .align-box ul.favorites-list li a::after {content: ''; position: absolute; width: 2px; height: 43px; background: url(../img/weather-dot.png) repeat-y; top: 35px; right: -20px;}
#favorites .align-box ul.favorites-list li:nth-child(7) a::after {display: none;}
#favorites .align-box ul.favorites-list li:last-child a::after {display: none;}
#favorites .align-box ul.favorites-list li a::before {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); top: 20px; background: url(../img/favorite-01.png) 0 0 no-repeat; width: 60px; height: 60px;}
#favorites .align-box ul.favorites-list li:nth-child(1) a::before {background: url(../img/favorite-01.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(2) a::before {background: url(../img/favorite-02.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(3) a::before {background: url(../img/favorite-03.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(4) a::before {background: url(../img/favorite-04.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(5) a::before {background: url(../img/favorite-05.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(6) a::before {background: url(../img/favorite-06.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(7) a::before {background: url(../img/favorite-07.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(8) a::before {background: url(../img/favorite-08.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(9) a::before {background: url(../img/favorite-09.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(10) a::before {background: url(../img/favorite-10.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(11) a::before {background: url(../img/favorite-11.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(12) a::before {background: url(../img/favorite-12.png) 0 0 no-repeat;}
#favorites .align-box ul.favorites-list li:nth-child(13) a::before {background: url(../img/favorite-13.png) 0 0 no-repeat;}
#favorites .align-box ul.indicator {}
#favorites .align-box ul.indicator li {}
#favorites .align-box ul.indicator li:nth-child(1) a {display: block; position: absolute; left: 0; top: 100px; background: url(../img/favorite-arrow.png) 0 0 no-repeat; width: 23px; height: 23px;}
#favorites .align-box ul.indicator li:nth-child(2) a {display: block; position: absolute; right: 0; top: 100px; background: url(../img/favorite-arrow.png) 0 0 no-repeat; transform: rotate(-180deg); width: 23px; height: 23px;}
#favorites .align-box ul.indicator li a span {text-indent: -9999px; display: block;}


#wise {padding: 40px 0 90px 0; position: relative;}
#wise::before {content: ''; position: absolute; background: url(../img/wise-sprite.png) 0 0 no-repeat; width: 649px; height: 507px; left: -160px; top: 90px; z-index: -1;}
#wise::after {content: ''; position: absolute; background: url(../img/wise-sprite.png) left bottom no-repeat; width: 793px; height: 740px; right: -259px; top: 30px; z-index: -1;}
#wise .align-box {overflow: hidden;}
#wise .align-box h2 {text-align: center; padding-top: 100px; position: relative;}
#wise .align-box h2::before {content: ''; position: absolute; background: url(../img/wise-service-sprite.png) 0 0 no-repeat; width: 177px; height: 120px; left: 420px; top: 40px; z-index: -1; background-position: left top;}
#wise .align-box .left {border: 1px solid #e6e6e6; width: 45%; margin-right: 4%; margin-left: 3%; height: 434px; float: left; box-sizing: border-box; border-radius: 30px; padding: 60px 65px; background-color: #fff; margin-top: 50px;}
#wise .align-box .left h3 {font-size: 24px; color: #141414; font-weight: 600;}
#wise .align-box .left h3 em {color: #ec6c61;}
#wise .align-box .left p {color: #7d7d7d; margin-top: 15px;}
#wise .align-box .left ul {margin-top: 30px; position: relative;}
#wise .align-box .left ul::before {content: ''; position: absolute; width: 100%; height: 3px; background: url(../img/wise-service-sprite.png) 0 0 repeat-x; left: 0; top: -13px; background-position: 0 -357px;}
#wise .align-box .left ul li {}
#wise .align-box .left ul li + li {margin-top: 10px;}
#wise .align-box .left ul li a {display: block; color: #1a1a1a; font-weight: 300; padding-left: 30px; position: relative;}
#wise .align-box .left ul li a::before {content: ''; position: absolute; width: 15px; height: 15px; background: url(../img/wise-service-sprite.png) 0 0 no-repeat; left: 0; top: 5px; background-position: left 88.09%;}
#wise .align-box .right {border: 1px solid #e6e6e6; width: 45%; margin-right: 3%; height: 434px; float: left; box-sizing: border-box; border-radius: 30px; padding: 60px 65px; position: relative; background-color: #fff; margin-top: 50px;}
#wise .align-box .right::before {content: ''; position: absolute; background: url(../img/service-charactor.png) 0 0 no-repeat; width: 177px; height: 120px; right: 0px; top: -106px;}
#wise .align-box .right h3 {font-size: 24px; color: #141414; font-weight: 600;}
#wise .align-box .right h3 em {color: #00b6bd;}
#wise .align-box .right p {color: #7d7d7d; margin-top: 15px;}
#wise .align-box .right ul {margin-top: 30px; position: relative;}
#wise .align-box .right ul::before {content: ''; position: absolute; width: 100%; height: 3px; background: url(../img/wise-service-sprite.png) 0 0 repeat-x; left: 0; top: -13px; background-position: 0 -357px;}
#wise .align-box .right ul li {width: 50%; float: left; margin-bottom: 10px;}
#wise .align-box .right ul li a {display: block; color: #1a1a1a; font-weight: 300; padding-left: 30px; position: relative;}
#wise .align-box .right ul li a::before {content: ''; position: absolute; width: 15px; height: 15px; background: url(../img/wise-service-sprite.png) 0 0 no-repeat; left: 0; top: 5px; background-position: left 88.09%;}


#sns {padding-bottom: 90px;}
#sns .align-box {overflow: hidden;}
#sns .align-box .photo {width: 48%; margin-right: 4%; float: left; position: relative;}
#sns .align-box .photo h2 {font-size: 25px; color: #111d68; margin-bottom: 20px; font-weight: 700;}
#sns .align-box .photo a.more {position: absolute; right: 0; top: 0; border: 1px solid #e5e7ee; height: 35px; padding: 0 50px 0 30px; border-radius: 30px; line-height: 35px; color: #555;}
#sns .align-box .photo a.more::after {content: ''; position: absolute; right: 25px; top: 50%; transform: translate(0, -50%); background: url(../img/photo-arrow.png) center center no-repeat; width: 11px; height: 11px;}
#sns .align-box .photo ul.photo-board {}
#sns .align-box .photo ul.photo-board li {overflow: hidden; max-height: 205px;}
#sns .align-box .photo ul.photo-board li + li {border-top: 1px solid #e5e7ee; padding: 20px 0;}
#sns .align-box .photo ul.photo-board li a {display: block;}
#sns .align-box .photo ul.photo-board li a span.photo-img {width: 150px; float: left;}
#sns .align-box .photo ul.photo-board li a span.photo-img img {width: 150px; height: 95px; border-radius: 6px;}
#sns .align-box .photo ul.photo-board li a span.photo-title {float: left; width: 52%; margin-left: 4%; font-size: 17px; color: #1a1a1a; letter-spacing: -0.7px;}
#sns .align-box .photo ul.photo-board li a span.photo-ico {width: 70px; height: 20px; display: block; color: #fff; text-align: center; line-height: 20px; font-size: 13px; border-radius: 3px; float: left; margin-right: 10px;}
#sns .align-box .photo ul.photo-board li a span.photo-ico.red {background-color: #ec6c61;}
#sns .align-box .photo ul.photo-board li a span.photo-ico.green {background-color: #00a3a0;}
#sns .align-box .photo ul.photo-board li a span.photo-ico.blue {background-color: #437dea;}
#sns .align-box .photo ul.photo-board li a span.photo-date {float: left; width: 72%; margin-left: 4%; font-size: 14px; color: #636363; font-weight: 300; margin-top: 10px;}
#sns .align-box .photo ul.photo-board li:first-child {padding: 20px 0;}
#sns .align-box .photo ul.photo-board li:first-child a {overflow: hidden; position: relative;}
#sns .align-box .photo ul.photo-board li:first-child a span.photo-img {width: 280px; float: left;}
#sns .align-box .photo ul.photo-board li:first-child a span.photo-img img {width: 280px; height: 195px; border-radius: 6px;}
#sns .align-box .photo ul.photo-board li:first-child a span.photo-title {float: left; width: 52%; margin-left: 4%; font-size: 17px; color: #1a1a1a; letter-spacing: -0.7px;}
#sns .align-box .photo ul.photo-board li:first-child a span.photo-text {float: left; width: 52%; margin-left: 4%; height: 70px; overflow: hidden; font-size: 15px; color: #7d7d7d; font-weight: 300; margin-top: 20px; letter-spacing: -0.7px;}
#sns .align-box .photo ul.photo-board li:first-child a span.photo-date {width: 54%; margin-left: 4%; font-size: 14px; color: #636363; font-weight: 300; position: absolute; bottom: 0; right: 0;}
#sns .align-box .photo ul.link-menu {overflow: hidden; background-color: #f9f9f4; border: 1px solid #d5e1da;}
#sns .align-box .photo ul.link-menu li {width: 50%; float: left; height: 63px; line-height: 63px;}
#sns .align-box .photo ul.link-menu li:nth-child(1) {border-right: 1px solid #d5e1da; border-bottom:1px solid #d5e1da; box-sizing: border-box;}
#sns .align-box .photo ul.link-menu li:nth-child(2) {border-bottom:1px solid #d5e1da;}
#sns .align-box .photo ul.link-menu li:nth-child(3) {border-right: 1px solid #d5e1da; box-sizing: border-box;}
#sns .align-box .photo ul.link-menu li a {display: block; width: 100%; padding-left: 50px; color: #1a1a1a; font-weight: 300; position: relative;}
#sns .align-box .photo ul.link-menu li a::before {content: ''; position: absolute; left: 20px; top: 50%; transform: translate(0, -50%); background: url(../img/photo-shortcut-arrow.png) center center no-repeat; width: 17px; height: 17px;}
#sns .align-box .sns {width: 48%; float: left; box-sizing: border-box; padding-top: 40px;}
#sns .align-box .sns h2 {font-size: 30px; color: #111d68; margin-bottom: 20px; font-weight: 700; display: inline-block; position: relative; padding-left: 105px;}
#sns .align-box .sns h2 span {background: url(../img/sns-sprite.png) left top no-repeat; text-indent: -9999px; display: inline-block; width: 105px; height: 66px; position: absolute; left: 0; top: -38px;}
#sns .align-box .sns ul.sns-list {overflow: hidden; position: absolute; right: 0; top: 50px;}
#sns .align-box .sns ul.sns-list li {float: left;}
#sns .align-box .sns ul.sns-list li a {display: block; width: 36px; height: 36px; border-radius: 50%; margin-left: 10px; text-indent: -9999px;}
#sns .align-box .sns ul.sns-list li:nth-child(1) a {background-color: #59c843; position: relative;}
#sns .align-box .sns ul.sns-list li:nth-child(2) a {background-color: #d91e1e; position: relative;}
#sns .align-box .sns ul.sns-list li:nth-child(3) a {background : url(../img/sns-bg.png); background-size: 100% 100%; position: relative;}
#sns .align-box .sns ul.sns-list li:nth-child(4) a {background-color: #ffdc50; position: relative;}
#sns .align-box .sns ul.sns-list li:nth-child(5) a {background-color: #4868ac; position: relative;}
#sns .align-box .sns ul.sns-list li a::before {content: ''; position: absolute; left: 0px; top: 50%; transform: translate(0, -50%); background: url(../img/sns-sprite.png) center center no-repeat; width: 36px; height: 36px;}
#sns .align-box .sns ul.sns-list li:nth-child(1) a::before {background-position: 0 -121px;}
#sns .align-box .sns ul.sns-list li:nth-child(2) a::before {background-position: 0 -167px;}
#sns .align-box .sns ul.sns-list li:nth-child(3) a::before {background-position: 0 -213px;}
#sns .align-box .sns ul.sns-list li:nth-child(4) a::before {background-position: 0 -260px;}
#sns .align-box .sns ul.sns-list li:nth-child(5) a::before {background-position: 0 -75px;}
#sns .align-box .sns .communication {margin-top: 20px; border: 1px solid #e6e6e6; width: 100%; height: 598px; overflow: hidden; box-sizing: border-box;}
#sns .align-box .sns .communication-box {width: 7000px;}
#sns .align-box .sns ul.communication-list {float: left; width: 673px;}
#sns .align-box .sns ul.communication-list li {height: 198px; box-sizing: border-box; padding: 18px; overflow: hidden;}
#sns .align-box .sns ul.communication-list li + li {border-top: 1px solid #e6e6e6;}
#sns .align-box .sns ul.communication-list li span.sns-img {float: left; width: 160px;}
#sns .align-box .sns ul.communication-list li span.sns-img img {width: 160px; height: 160px;}
#sns .align-box .sns ul.communication-list li span.sns-text {float: left; width: 67%; margin-left: 4%; font-size: 15px; color: #7d7d7d; font-weight: 300;}
#sns .align-box .sns ul.communication-list li span.sns-date {float: left; width: 67%; margin-left: 4%; font-size: 14px; color: #636363; font-weight: 300; margin-top: 20px;}





/* module */